<!DOCTYPE html>
<html lang="EN">
<head>
	<title>Roadrunner Framework</title>
    <meta charset="UTF-8">
	<base href="/" target="_self">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/style.css" type="text/css">
</head>
<body>

<main>
    <h1><?=$title?></h1>
    <p><?=$content?></p>
</main>

<footer>&copy; 2023 | <?=$_SERVER['HTTP_HOST']?> | <?=$debug?></footer>

<script>
window.addEventListener('touchstart', () => {fetch('/heartbeat')}, {once: true});
window.addEventListener('mousemove', () => {fetch('/heartbeat')}, {once: true});
</script>

</body>
</html>
