<!DOCTYPE html>
<html lang="NL">
<head>
	<title>Admin | Compra</title>
    <meta charset="UTF-8">
	<base href="/" target="_self">
    <meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/admin.css" type="text/css">
</head>
<body>

<nav>
<h1>Compra</h1>
<?=$navigation?>
</nav>

<main>
    <section class="adminsection">
        <div class="sectionheader"><p>Compra</p></div>
        <div class="sectioncontent"><p>Welcome to the admin section</p></div>
    </section>
    <footer>&copy; 2023 | <?=$_SERVER['HTTP_HOST']?> | <?=$debug?></footer>
</main>

</body>
</html>
