<!DOCTYPE html>
<html lang="NL">
<head>
	<title>Admin | Compra</title>
    <meta charset="UTF-8">
	<base href="/" target="_self">
    <meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/admin.css" type="text/css">
</head>
<body>

<?=$notification?>

<nav>
<h1>Compra</h1>
<?=$navigation?>
</nav>

<main>
    <section class="adminsection">
        <div class="sectionheader"><p><?=empty($domainname) ? 'Nieuw domein' : 'Edit: '.$domainname?></p></div>
        <div class="sectioncontent">
            <form method="POST">
                <input type="hidden" name="clientid" value="<?=$clientid ?? null?>">
                <label>Domeinnaam<input type="text" name="domainname" placeholder="Domeinnaam" value="<?=$domainname ?? null?>"></label>
                <button type="submit">Registreer</button>
            </form>
    </section>
    <footer>&copy; 2023 | <?=$_SERVER['HTTP_HOST']?> | <?=$debug?></footer>
</main>

</body>
</html>
