/******************************/
/*        GENERAL CSS         */
/******************************/

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
}

html{
    font-family:Quicksand, Arial, sans-serif;
    background:#eee;
}

a{
    text-decoration:none;
}

nav{
    position:fixed;
    top:0;
    left:0;
    width:200px;
    height:100vh;
    background:#e74c3c;
    color:#fff;
    display:flex;
    flex-direction:column;
    align-items:center;
    box-shadow:2px 0px 3px #999;
}

nav h1{
    margin:20px 0;
    text-shadow:1px 1px 2px #000;
}

nav a{
    color:#fff;
    font-weight:bold;
    display:block;
    width:80%;
    line-height:40px;
    margin-top:10px;
    text-transform:uppercase;
    font-size:12px;
    padding-left:36px;
    border-radius:20px;
    transition:all 200ms ease-in-out;
}

nav a:hover{
    background:#c0392b;
}

main{
    width:calc(100% - 200px);
    margin-left:200px;
    
}

footer{
    font-size:11px;
    color:#bbb;
    text-align:center;
}

/*******************************/
/*          ADMIN CSS          */
/*******************************/

.adminsection{
    width:96%;
    margin:20px auto;
    background:#f8f8f8;
    border:1px solid #bbb;
    border-radius:8px;
    box-shadow:0px 0px 3px #bbb;
}

.sectionheader{
    background:linear-gradient(0deg, #e74c3c, #ff7466);
    padding:10px 20px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom:1px solid #bbb;
    display:flex;
    justify-content:space-between;
}

.sectionheader p{
    color:#fff;
    font-weight:bold;
    font-size:14px;
    text-transform:uppercase;
    text-shadow:0 0 2px #000;
}

.sectioncontent{
    padding:20px;
}

.sectioncontent td{
    font-size:15px;
}

.sectioncontent form{
    width:100%;
    max-width:500px;
}

.sectioncontent input, .sectioncontent button, .sectioncontent label, .sectioncontent textarea{
    width:100%;
}

.sectioncontent input, .sectioncontent textarea, .sectioncontent select{
    margin-bottom:16px;
}

.sectioncontent textarea{
    height:140px;
}

/******************************/
/*         TABLE CSS          */
/******************************/

table{
    width:100%;
    border-collapse:collapse;
}

tr:nth-child(odd){}

th:not(:last-child){
    text-align:left;
    cursor:pointer;
}

tr:not(:first-child){
    border-top:1px solid #ccc;
}

tr:hover{
    background:#eee;
}

td, th{
    padding:3px 4px;
}

td:last-child, th:last-child{
    text-align:right;
    width:100px;
}

td a{
    color:#2980b9;
}

/********************************/
/*           FORM CSS           */
/********************************/

input, textarea, select, button, .button{
    border:1px solid #555;
    padding:6px;
}

button, .button{
    background:#2ecc71;
    color:#000;
    font-size:14px;
    cursor:pointer;
    transition:all 200ms ease-in-out;
}

button:hover, .button:hover{
    background:#27ae60;
}

/******************************/
/*         POPUP CSS          */
/******************************/

.popup{
    width:96%;
    max-width:800px;
    height:80px;
    position:absolute;
    top:-90px;
    left:0;
    right:0;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    font-weight:bold;
    border:2px solid #333;
    animation:fadeinout 4s 1;
    z-index:10;
}

.error{
    background:#fc8189;
}

.message{
    background:#91f298;
}

@keyframes fadeinout{
  from {top:-90px;}
  10%  {top:0}
  90%  {top:0}
  to   {top:-90px;}
}

/********************************/
/*           FONT CSS           */
/********************************/

@font-face {
    font-family:Quicksand;
    src:url("../fonts/Quicksand.woff2");
}

/********************************/
/*        Responsive CSS        */
/********************************/

@media all and (max-width: 700px){}
